//여긴 radix-ui를 수정하는 scss 파일입니다.
@use '../../css/colors' as *;
@use '../../css/mixins' as *;
@use '../../css/button.scss' as *;

.custom-modal-bg{
  background: rgba(14, 15, 17, 0.50);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index:10;
  top:0;
  left:0;
  display: none;
  &.show{display: block;}
  .dark-mode &{
    background: rgba(14, 15, 17, 0.65);
  }
}
.custom-modal{
  --w:100%;
  border-radius: 16px;
  border: 1px solid var(--gray-300);
  background:#fff;
  /* 시스템그림자/45/레벨5 */
  box-shadow: var(--Shadow45-lev5);
  //backdrop-filter: blur(50px);
  position: fixed;
  padding:16px;
  padding-bottom: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:calc(var(--w) - 16px);
  z-index: 11;
  display: none;
  @include respond($min: lg){
    --w:816px;
     padding:32px;
  }
  &.show{display: block;}
  .txtbox{
    display: flex;
    align-items: center;
  }
  &>.top{
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--gray-600);
    margin-bottom: 16px;
    .txt1{
      display: flex;
      align-items: center;
      @include SuiteHeading5Txt();
      .dark-mode &{
        color:#fff;
      }
      img{margin-right:8px}
      span{
        font-size: inherit;
        color:inherit;
        font-family: inherit;
        font-weight: inherit;
      }
    }
    .close{
      font-size: 24px;
      .dark-mode &{
        color:#fff;
      }
    }
  }
  .body{
    max-height: none;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--gray-600);
  }
  .modal-nav-btn{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    &.prev{
      left:0;
    }
    &.next{
      right:0;
    }
  }
}
.modal-images{
  &.view-box1{
    --w1:100%;
    --w2:133px;
    --w1_2:calc(100% - var(--w2) - 20px);
    @include respond($min: lg){
      --w1:530px;
      --w2:257px;
      --w1_2:calc(100% - var(--w2));
      height: 497px;
    }
    display:flex;
    align-items: end;
    justify-content: center;
    
    .img_1{
       width: var(--w1); 
      &:has(+ .img_2){
        width: var(--w1_2);
      }
    }
    .img_2{
      width: var(--w2);
    }

  }
}
.modal-pagination-bar{
  display: flex;
  align-items: end;
  justify-content: center;
  padding:16px;
  gap:12px;
  .pagination-count{
    display: flex;
    align-items: end;
    .txt1{
      font-size: 24px;
      font-weight: 400;
      line-height: 1;
    }
    .txt2{
      color:var(--blue-500);
      font-size:24px;
      font-weight: 600;
      line-height: 1;
    }
  }
  .pagination-dots{
    display:flex;
    gap:6px;
    .dot {
      border-radius: 999px;
      width:12px;
      height: 12px;
      border:0;
      box-shadow: none;
      background: var(--blue-t-50per);
      &.active{
        background: var(--blue-500);
      }
    }
  }
}
.modal-data-box{
  display: flex;
  justify-content:space-between;
  align-items: start;
  gap:6px;
  @include respond($min: lg){
    gap:0;
    align-items: end;
    ul{
      height: 130px;
    }
  }
  .tech-stack-list{

  }
  &>*{
    &>p{
      /* 기존 스타일 */
      background: linear-gradient(103deg, var(--blue-500) 4.83%, var(--purple-500) 104.91%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      /* 일렁이는 효과를 위한 추가 스타일 */
      background-size: 200% 200%; /* 그라데이션이 움직일 수 있도록 배경 크기를 확장 */
      animation: gradientFlow 3s ease infinite; /* 애니메이션 적용 (속도 조절 가능) */
      font-size: 18px;
      line-height: 1;
      border-bottom: 1px solid var(--blue-500);
      padding-bottom:12px;
      margin-bottom: 12px;
    }
    &>ul{
      
    }
  }
}