 // 브랜드 컬러
 // 색상 단계 정의
 $steps: 50, 100, 200, 300, 400, 500, 600, 700, 800, 900, 950;
 // 색상 팔레트 정의
 $colors: (
   brand: (
    50: #E5F2FF,
     100: #CCE5FF,
     200: #99CAFF,
     300: #66B0FF,
     400: #3396FF,
     500: #007AFF,
     600: #0063CC,
     700: #004A99,
     800: #003166,
     900: #001F40,
     950: #001226,
   ),
   blue: (
    50: #E5F2FF,
     100: #CCE5FF,
     200: #99CAFF,
     300: #66B0FF,
     400: #3396FF,
     500: #007AFF,
     600: #0063CC,
     700: #004A99,
     800: #003166,
     900: #001F40,
     950: #001226,
   ),
   lavender: (
    50: #F2F0FF,
     100: #E4E0FF,
     200: #CAC2FF,
     300: #AFA3FF,
     400: #9585FF,
     500: #7763FF,
     600: #4D36E3,
     700: #2F1E9C,
     800: #231675,
     900: #0F0930,
     950: #060414,
   ),
   red: (
    50: #FFECEB,
     100: #FFD8D6,
     200: #FFB1AD,
     300: #FF8B85,
     400: #FF645C,
     500: #FF3B30,
     600: #F50C00,
     700: #B80900,
     800: #7A0600,
     900: #3D0300,
     950: #1F0200,
   ),
   orange: (
    50:#FFF4E5,
     100:#FFEACC,
     200:#FFD599,
     300:#FFBF66,
     400:#FFAA33,
     500:#FF9500,
     600:#CC7700,
     700:#995900,
     800:#663C00,
     900:#331E00,
     950:#190F00),
   lime: (
    50:#E7FDF1,
     100:#D4FCE5,
     200:#A9F9CC,
     300:#7EF6B2,
     400:#4EF396,
     500:#25F07C,
     600:#0ECD61,
     700:#0B9D4A,
     800:#076932,
     900:#043419,
     950:#02180B),
   navy: (
    50:#EBEFFF,
     100:#D6DFFF,
     200:#ADBFFF,
     300:#8AA3FF,
     400:#6183FF,
     500:#3864FF,
     600:#2F53D6,
     700:#2643AD,
     800:#172867,
     900:#0C1638,
     950:#07102F),

   indigo: (
    50:#EFEFFB,
     100:#DFDEF7,
     200:#BEBDEF,
     300:#9A98E6,
     400:#7978DE,
     500:#5856D6,
     600:#3D3BC9,
     700:#282691,
     800:#1C1B67,
     900:#100F39,
     950:#0A0A22),

   purple: (
    50:#F7EEFC,
     100:#EFDDF8,
     200:#DFBAF2,
     300:#D098EB,
     400:#C076E5,
     500:#AF52DE,
     600:#9627CE,
     700:#711D9A,
     800:#4B1467,
     900:#260A33,
     950:#13051A),

   yellow: (
    50:#FFF9E5,
     100:#FFF3CC,
     200:#FFE799,
     300:#FFDB66,
     400:#FFCF33,
     500:#FFC402,
     600:#CC9C00,
     700:#997500,
     800:#664E00,
     900:#332700,
     950:#191400),

   green: (
    50:#F1FFE0,
     100:#E6FFC7,
     200:#CDFF8F,
     300:#B1FF52,
     400:#98FF1A,
     500:#7BE000,
     600:#62B300,
     700:#498500,
     800:#325C00,
     900:#192E00,
     950:#0B1400),
   forest: (
    50:#DBFFE3,
     100:#B3FFC3,
     200:#6BFF8B,
     300:#1FFF4F,
     400:#00D62E,
     500:#00891E,
     600:#007018,
     700:#005212,
     800:#00380C,
     900:#001906,
     950:#000F03),

   mint: (
    50:#E8FCFB,
     100:#CDF9F7,
     200:#9BF3EF,
     300:#68EDE7,
     400:#36E8DF,
     500:#18CEC5,
     600:#13A49D,
     700:#0E7B76,
     800:#0A524F,
     900:#052927,
     950:#031716),

   cyan: (
    50:#EBF9FF,
     100:#D6F2FF,
     200:#B3E7FF,
     300:#8ADAFF,
     400:#61CDFF,
     500:#3BC1FF,
     600:#00ABFA,
     700:#0081BD,
     800:#005780,
     900:#002A3D,
     950:#00151F),

   charcoal: (
    50:#EFF0F0,
     100:#E2E3E4,
     200:#C5C8C9,
     300:#A5A9AC,
     400:#888E91,
     500:#6C7275,
     600:#565A5D,
     700:#404345,
     800:#2C2F30,
     900:#1C1D1F,
     950:#0A0B0B),

   gray: (
    50:#F4F5F6,
     100:#ECEDEF,
     200:#D8DCDE,
     300:#C2C8CC,
     400:#AFB6BB,
     500:#9BA4AB,
     600:#6C7680,
     700:#586269,
     800:#3D4348,
     900:#1E2224,
     950:#0E0F11),
   black:(500: #0E0F11,
   ),
   white:(500: #FFF,
   )
 );
$transparent-rgbs: (
  brand: (0, 122, 255),
  blue: (0, 122, 255),
  lavender: (119, 99, 255),
  red: (255, 59, 48),
  orange: (255, 149, 0),
  lime: (37, 240, 124),
  navy: (56, 100, 255),
  indigo: (88, 86, 214),
  purple: (175, 82, 222),
  yellow: (255, 196, 2),
  green: (123, 224, 0),
  forest: (0, 137, 30),
  mint: (24, 206, 197),
  cyan: (59, 193, 255),
  charcoal:(108, 114, 117),
  gray:(155, 164, 171),
  black:(0, 0, 0),
  white:(255, 255, 255)
);

:root {
   @each $name, $shades in $colors {
    /*#{$name}*/
    @each $step, $value in $shades {
      --#{$name}-#{$step}: #{$value};
    }
  }
  @each $T-name, $items in $transparent-rgbs {
    /*#{$T-name} #{$items}*/
    @for $i from 1 through 11 {
      $percent: $i * 5;
      $alpha: $percent / 100;
      --#{$T-name}-t-#{$percent}per: rgba(#{$items}, #{$alpha});
    }
  }
  --gradient-1:linear-gradient(180deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.75) 100%);
  --dark-gradient-1: linear-gradient(180deg, rgba(244, 245, 246, 0.15) 0%, rgba(244, 245, 246, 0.07) 100%);
  --gradient-2:linear-gradient(180deg, rgba(61, 67, 72, 0.95) 0%, rgba(61, 67, 72, 0.75) 100%)
}
