   
  @for $i from 1 through 100 {
    .fs-#{$i*1+0px} { font-size: 0px+1*$i !important; }
  }
  @media (min-width: 768px){
    @for $i from 1 through 100 {
      .fs-md-#{$i*1+0px} { font-size: 0px+1*$i !important; }
    }
  }
  @media (min-width: 1280px){
    @for $i from 1 through 100 {
      .fs-xl-#{$i*1+0px} { font-size: 0px+1*$i !important; }
    }
  }

  @for $i from 1 through 120 {
    .pt-#{$i*1+0px} { padding-top: 0px+1*$i !important; }
  }
  @for $i from 1 through 120 {
    .pb-#{$i*1+0px} { padding-bottom: 0px+1*$i !important; }
  }
  
  @for $i from 1 through 120 {
    .pl-#{$i*1+0px} { padding-left: 0px+1*$i !important; }
  }
  @for $i from 1 through 120 {
    .pr-#{$i*1+0px} { padding-right: 0px+1*$i !important; }
  }
  @for $i from 1 through 120 {
    .py-#{$i*1+0px} { padding-top: 0px+1*$i !important;padding-bottom: 0px+1*$i !important; }  
  }
  .px-0{padding-left:0px!important;padding-right:0px!important;}
  @for $i from 1 through 120 {
    .px-#{$i*1+0px} { padding-left: 0px+1*$i !important;padding-right: 0px+1*$i !important;}  
  }
  @for $i from 1 through 120 {
    .p-#{$i*1+0px} { padding-left: 0px+1*$i !important;padding-right: 0px+1*$i !important; padding-top: 0px+1*$i !important;padding-bottom: 0px+1*$i !important;}  
  }
  .px-0{padding-left:0px!important;padding-right:0px!important;}
  .py-0{padding-top:0px!important;padding-bottom:0px!important;}
  .pt-0{padding-top:0px!important;}
  .pb-0{padding-bottom:0px!important;}
  .pl-0{padding-left:0px!important;}
  .pr-0{padding-right:0px!important;}

  @for $i from 1 through 120 {
    .mt-#{$i*1+0px} { margin-top: 0px+1*$i !important; }
  }
  @for $i from 1 through 120 {
    .mb-#{$i*1+0px} { margin-bottom: 0px+1*$i !important; }
  }
  @for $i from 1 through 120 {
    .ml-#{$i*1+0px} { margin-left: 0px+1*$i !important; }
  }
  @for $i from 1 through 120 {
    .mr-#{$i*1+0px} { margin-right: 0px+1*$i !important; }
  }
  @for $i from 1 through 120 {
    .my-#{$i*1+0px} { margin-top: 0px+1*$i !important;margin-bottom: 0px+1*$i !important; }  
  }
  .mx-0{margin-left:0px!important;margin-right:0px!important;}
  @for $i from 1 through 120 {
    .mx-#{$i*1+0px} { margin-left: 0px+1*$i !important;margin-right: 0px+1*$i !important;}  
  }
  @for $i from 1 through 120 {
    .m-#{$i*1+0px} { margin-left: 0px+1*$i !important;margin-right: 0px+1*$i !important; margin-top: 0px+1*$i !important;margin-bottom: 0px+1*$i !important;}  
  }
  .mx-0{margin-left:0px!important;margin-right:0px!important;}
  .my-0{margin-top:0px!important;margin-bottom:0px!important;}
  .mt-0{margin-top:0px!important;}
  .mb-0{margin-bottom:0px!important;}
  .ml-0{margin-left:0px!important;}
  .mr-0{margin-right:0px!important;}
  /*테블릿~pc*/
  @media (min-width: 768px){
   
    @for $i from 1 through 120 {
      .pt-md-#{$i*1+0px} { padding-top: 0px+1*$i !important; }
    }
    @for $i from 1 through 120 {
      .pb-md-#{$i*1+0px} { padding-bottom: 0px+1*$i !important; }
    }
    @for $i from 1 through 120 {
      .pl-md-#{$i*1+0px} { padding-left: 0px+1*$i !important; }
    }
    @for $i from 1 through 120 {
      .pr-md-#{$i*1+0px} { padding-right: 0px+1*$i !important; }
    }
    @for $i from 1 through 120 {
      .py-md-#{$i*1+0px} { padding-top: 0px+1*$i !important;padding-bottom: 0px+1*$i !important; }  
    }
    @for $i from 1 through 120 {
      .px-md-#{$i*1+0px} { padding-left: 0px+1*$i !important;padding-right: 0px+1*$i !important;}  
    }
    @for $i from 1 through 120 {
      .p-md-#{$i*1+0px} { padding-left: 0px+1*$i !important;padding-right: 0px+1*$i !important; padding-top: 0px+1*$i !important;padding-bottom: 0px+1*$i !important;}  
    }
    .px-md-0{padding-left:0px!important;padding-right:0px!important;}
    .py-md-0{padding-top:0px!important;padding-bottom:0px!important;}
    .pt-md-0{padding-top:0px!important;}
    .pb-md-0{padding-bottom:0px!important;}
    .pl-md-0{padding-left:0px!important;}
    .pr-md-0{padding-right:0px!important;}
    
    @for $i from 1 through 120 {
      .mt-md-#{$i*1+0px} { margin-top: 0px+1*$i !important; }
    }
    @for $i from 1 through 120 {
      .mb-md-#{$i*1+0px} { margin-bottom: 0px+1*$i !important; }
    }
    @for $i from 1 through 120 {
      .ml-md-#{$i*1+0px} { margin-left: 0px+1*$i !important; }
    }
    @for $i from 1 through 120 {
      .mr-md-#{$i*1+0px} { margin-right: 0px+1*$i !important; }
    }
    @for $i from 1 through 120 {
      .my-md-#{$i*1+0px} { margin-top: 0px+1*$i !important;margin-bottom: 0px+1*$i !important; }  
    }
    .mx-md-0{margin-left:0px!important;margin-right:0px!important;}
    @for $i from 1 through 120 {
      .mx-md-#{$i*1+0px} { margin-left: 0px+1*$i !important;margin-right: 0px+1*$i !important;}  
    }
    @for $i from 1 through 120 {
      .m-md-#{$i*1+0px} { margin-left: 0px+1*$i !important;margin-right: 0px+1*$i !important; margin-top: 0px+1*$i !important;margin-bottom: 0px+1*$i !important;}  
    }
    .mx-md-0{margin-left:0px!important;margin-right:0px!important;}
    .my-md-0{margin-top:0px!important;margin-bottom:0px!important;}
    .mt-md-0{margin-top:0px!important;}
    .mb-md-0{margin-bottom:0px!important;}
    .ml-md-0{margin-left:0px!important;}
    .mr-md-0{margin-right:0px!important;}

  }
  /*pc*/
  @media (min-width: 1280px){
    
    @for $i from 1 through 120 {
      .pt-xl-#{$i*1+0px} { padding-top: 0px+1*$i !important; }
    }
    @for $i from 1 through 120 {
      .pb-xl-#{$i*1+0px} { padding-bottom: 0px+1*$i !important; }
    }
    @for $i from 1 through 120 {
      .pl-xl-#{$i*1+0px} { padding-left: 0px+1*$i !important; }
    }
    @for $i from 1 through 120 {
      .pr-xl-#{$i*1+0px} { padding-right: 0px+1*$i !important; }
    }
    @for $i from 1 through 120 {
      .py-xl-#{$i*1+0px} { padding-top: 0px+1*$i !important;padding-bottom: 0px+1*$i !important; }  
    }
    @for $i from 1 through 120 {
      .px-xl-#{$i*1+0px} { padding-left: 0px+1*$i !important;padding-right: 0px+1*$i !important;}  
    }
    @for $i from 1 through 120 {
      .p-xl-#{$i*1+0px} { padding-left: 0px+1*$i !important;padding-right: 0px+1*$i !important; padding-top: 0px+1*$i !important;padding-bottom: 0px+1*$i !important;}  
    }
    .px-xl-0{padding-left:0px!important;padding-right:0px!important;}
    .py-xl-0{padding-top:0px!important;padding-bottom:0px!important;}
    .pt-xl-0{padding-top:0px!important;}
    .pb-xl-0{padding-bottom:0px!important;}
    .pl-xl-0{padding-left:0px!important;}
    .pr-xl-0{padding-right:0px!important;}

    @for $i from 1 through 120 {
      .mt-xl-#{$i*1+0px} { margin-top: 0px+1*$i !important; }
    }
    @for $i from 1 through 120 {
      .mb-xl-#{$i*1+0px} { margin-bottom: 0px+1*$i !important; }
    }
    @for $i from 1 through 120 {
      .ml-xl-#{$i*1+0px} { margin-left: 0px+1*$i !important; }
    }
    @for $i from 1 through 120 {
      .mr-xl-#{$i*1+0px} { margin-right: 0px+1*$i !important; }
    }
    @for $i from 1 through 120 {
      .my-xl-#{$i*1+0px} { margin-top: 0px+1*$i !important;margin-bottom: 0px+1*$i !important; }  
    }
    .mx-xl-0{margin-left:0px!important;margin-right:0px!important;}
    @for $i from 1 through 120 {
      .mx-xl-#{$i*1+0px} { margin-left: 0px+1*$i !important;margin-right: 0px+1*$i !important;}  
    }
    @for $i from 1 through 120 {
      .m-xl-#{$i*1+0px} { margin-left: 0px+1*$i !important;margin-right: 0px+1*$i !important; margin-top: 0px+1*$i !important;margin-bottom: 0px+1*$i !important;}  
    }
    .mx-xl-0{margin-left:0px!important;margin-right:0px!important;}
    .my-xl-0{margin-top:0px!important;margin-bottom:0px!important;}
    .mt-xl-0{margin-top:0px!important;}
    .mb-xl-0{margin-bottom:0px!important;}
    .ml-xl-0{margin-left:0px!important;}
    .mr-xl-0{margin-right:0px!important;}

  }
/**/
  @for $i from 1 through 81 {
    .lh-#{$i*1+9px} { line-height: 9rem+1*$i !important; }
  }
  @for $i from 1 through 3 {
    .lh-md-#{$i*100} { line-height: 0% + 100*$i !important; }
  }
  @media (min-width: 768px){
    @for $i from 1 through 81 {
      .lh-md-#{$i*1+9px} { line-height: 9rem+1*$i !important; }
    }
    @for $i from 1 through 3 {
      .lh-md-#{$i*100} { line-height: 0% + 100*$i !important; }
    }
  }
  @media (min-width: 1280px){
    @for $i from 1 through 81 {
      .lh-xl-#{$i*1+9px} { line-height: 9rem+1*$i !important; }
    }
    @for $i from 1 through 3 {
      .lh-xl-#{$i*100} { line-height: 0% + 100*$i !important; }
    }
  }
  
  @for $i from 1 through 9 {
    .fw-#{$i*100} { font-weight:100*$i !important; }
  }
  @media (min-width: 768px){
     @for $i from 1 through 9 {
    .fw-md-#{$i*100} { font-weight:100*$i !important; }
  }
  }
  .vertical-t{
    vertical-align: top;
  }
  .vertical-m{
    vertical-align: middle;
  }
  .vertical-b{
    vertical-align: bottom;
  }
  @for $i from 1 through 30 {
    .letter-s-#{$i} { letter-spacing:-0.1px*$i !important; }
  }
  @for $i from 1 through 901 {
    .flex-b#{$i*1+9px} { 
      flex-basis: 9rem+1*$i !important; 
      max-width: 9rem+1*$i !important;     
    }
  }
  @media (min-width: 768px){
    @for $i from 1 through 901 {
      .flex-b-md-#{$i*1+9px} { 
        flex-basis: 9rem+1*$i !important; 
        max-width: 9rem+1*$i !important;     
      }
    }
  }
  @media (min-width: 1280px){
    @for $i from 1 through 901 {
      .flex-b-xl-#{$i*1+9px} { 
        flex-basis: 9rem+1*$i !important; 
        max-width: 9rem+1*$i !important;     
      }
    }
  }
  .bt-0{border-top: 0 !important;}
  .bl-0{border-left: 0 !important;}
  .br-0{border-right: 0 !important;}
  .bb-0{border-bottom: 0 !important;}
  @for $i from 1 through 5 {
    .bw-#{$i} { border-width:1px * $i !important; }
  }
  @for $i from 1 through 60 {
    .round-#{$i}px { border-radius:1px * $i !important; }
  }
  .w-max-100{max-width:100% !important;}
  @for $i from 1 through 1680 {
    .w-#{$i*1+9px} { width: 9rem+1*$i !important; }
    .w-max-#{$i*1+9px} {max-width: 9rem+1*$i !important; }
  }
  @media (min-width: 768px){
    .w-md-auto{width: auto !important;}
    .w-md-100{width: 100% !important;}
    .w-md-max-100{max-width:100% !important;}
    @for $i from 1 through 1680 {
      .w-md-#{$i*1+9px} { width: 9rem+1*$i !important; }
      .w-md-max-#{$i*1+9px} {max-width: 9rem+1*$i !important; }
    }
    
  }
  @media (min-width: 1280px){
    @for $i from 1 through 1680 {
      .w-xl-#{$i*1+9px} { width: 9rem+1*$i !important; }
    }
    .w-xl-1680px { width: 1680px !important; }
  }
   /*minus val*/
  @for $i from 1 through 1500 {
    .w-100per-#{$i*1+9px} { width: calc(100% - #{$i*1+9px} )!important; }
  }
  @media (min-width: 768px){
    @for $i from 1 through 1500 {
      .w-100per-md-#{$i*1+9px} { width: calc(100% - #{$i*1+9px} ) !important; }
    }
  }
  @media (min-width: 1280px){
    @for $i from 1 through 1500 {
      .w-100per-xl-#{$i*1+9px} { width: calc(100% - #{$i*1+9px} ) !important; }
    }
  }



  @for $i from 1 through 1500 {
    .h-#{$i*1+9px} { height: 9rem+1*$i !important; }
    .h-max-#{$i*1+9px} { max-height: 9rem+1*$i !important; }
  }
  @media (min-width: 768px){
    .h-md-auto{height: auto !important;}
    .h-md-100{height: 100% !important;}
    @for $i from 1 through 1500 {
      .h-md-#{$i*1+9px} { height: 9rem+1*$i !important; }
      .h-md-max-#{$i*1+9px} { max-height: 9rem+1*$i !important; }
    }
  }
  @media (min-width: 1280px){
    @for $i from 1 through 1500 {
      .h-xl-#{$i*1+9px} { height: 9rem+1*$i !important; }
    }
  }

  @for $i from 1 through 1500 {
    .h-100per-#{$i*1+9px} { height: calc(100% - #{$i*1+9px} )!important; }
  }
  @media (min-width: 768px){
    @for $i from 1 through 1500 {
      .h-100per-md-#{$i*1+9px} { height: calc(100% - #{$i*1+9px} ) !important; }
    }
  }
  @media (min-width: 1280px){
    @for $i from 1 through 1500 {
      .h-100per-xl-#{$i*1+9px} { height: calc(100% - #{$i*1+9px} ) !important; }
    }
  }
/*white-space*/
.white-space-nowrap{white-space:nowrap;}
.white-space-normal{white-space:normal;}
[class*='row-']{
  font-size: 0;line-height:1;
  display: flex;
  flex-wrap: wrap;
  &>div{
    font-size: 0;
    &.col{
      flex: 1 0 0%;
    }
   
  }
}
 @for $i from 1 through 12 {
  .col-#{$i}{
    flex-basis: percentage($i / 12);
    max-width: percentage($i / 12);
  }
}
@media (min-width: 768px){
  .col-md{
    flex: 1 0 0%;
  }
  @for $i from 1 through 12 {
    &.col-md-#{$i}{
      flex-basis: percentage($i / 12);
      max-width: percentage($i / 12);
    }
  }
}
@media (min-width: 1280px){
  .col-xl{
    flex: 1 0 0%;
  }
    @for $i from 1 through 12 {
    .col-xl-#{$i}{
      flex-basis: percentage($i / 12);
      max-width: percentage($i / 12);
    }
  }
}
@for $i from 2 through 56 {
  @if $i % 2 == 0 {
    .row-cols-#{$i}px {
      margin: -#{($i / 2)}px !important;

      & > * {
        padding: #{($i / 2)}px !important;
      }
    }
    .row-cols-Y#{$i}px {
      margin-top: -#{($i / 2)}px !important;
      margin-bottom: -#{($i / 2)}px !important;

      & > * {
        padding-top: #{($i / 2)}px !important;
        padding-bottom: #{($i / 2)}px !important;
      }
    }
    .row-cols-X#{$i}px {
      margin-left: -#{($i / 2)}px !important;
      margin-right: -#{($i / 2)}px !important;

      & > * {
        padding-left: #{($i / 2)}px !important;
        padding-right: #{($i / 2)}px !important;
      }
    }
  }
}
@media (min-width: 768px){
  @for $i from 2 through 56 {
    @if $i % 2==0 {
      .row-md-cols-#{2 + $i}px {
        margin: -#{($i / 2)}px !important;

    & > * {
      padding: #{($i / 2)}px !important;
    }
      }
      .row-md-cols-Y#{$i}px {
      margin-top: -#{($i / 2)}px !important;
      margin-bottom: -#{($i / 2)}px !important;

      & > * {
        padding-top: #{($i / 2)}px !important;
        padding-bottom: #{($i / 2)}px !important;
      }
    }
    .row-md-cols-X#{$i}px {
      margin-left: -#{($i / 2)}px !important;
      margin-right: -#{($i / 2)}px !important;

      & > * {
        padding-left: #{($i / 2)}px !important;
        padding-right: #{($i / 2)}px !important;
      }
    }
    }
  }
}
@for $i from 4 through 56 {
  @if $i % 2 == 0 {
    .child-interval-#{2 + $i}px{
      &>*{
        margin-bottom: #{2 + $i}px !important;
        &:last-child{margin-bottom: 0 !important;}
      }
    }
  }
}
@media (min-width: 768px){
  @for $i from 4 through 56 {
  @if $i % 2 == 0 {
    .child-interval-md-#{2 + $i}px{
      &>*{
        margin-bottom: #{2 + $i}px !important;
        &:last-child{margin-bottom: 0 !important;}
      }
    }
  }
}
}


@for $i from 1 through 4 {
  .bb-w-#{$i*1+0px} {border-bottom-width:0px+1*$i;}
  .bt-w-#{$i*1+0px} {border-top-width:0px+1*$i;} 
  .bl-w-#{$i*1+0px} {border-left-width:0px+1*$i;}  
  .br-w-#{$i*1+0px} {border-right-width:0px+1*$i;}  
}

[class*="coly"] {
  form {
    height: 100%;
  }
}
.coly {
  &-1  { height: 8.33333333%; }
  &-2  { height: 16.66666667%;}
  &-3  { height: 25%;         }
  &-4  { height: 33.33333333%;}
  &-5  { height: 41.66666667%;}
  &-6  { height: 50%;         }
  &-7  { height: 58.33333333%;}
  &-8  { height: 66.66666667%;}
  &-9  { height: 75%;         }
  &-10 { height: 83.33333333%; }
  &-11 { height: 91.66666667%; }
  &-12 { height: 100%;         }
}