@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
	src: local('Pretendard Black'), url(../app/fonts/Pretendard-1.3.9/woff2/Pretendard-Black.woff2) format('woff2'),
	 url(../app/fonts/Pretendard-1.3.9/woff/Pretendard-Black.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url(../app/fonts/Pretendard-1.3.9/woff2/Pretendard-ExtraBold.woff2) format('woff2'),
	 url(../app/fonts/Pretendard-1.3.9/woff/Pretendard-ExtraBold.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url(../app/fonts/Pretendard-1.3.9/woff2/Pretendard-Bold.woff2) format('woff2'),
	 url(../app/fonts/Pretendard-1.3.9/woff/Pretendard-Bold.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url(../app/fonts/Pretendard-1.3.9/woff2/Pretendard-SemiBold.woff2) format('woff2'),
	 url(../app/fonts/Pretendard-1.3.9/woff/Pretendard-SemiBold.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url(../app/fonts/Pretendard-1.3.9/woff2/Pretendard-Medium.woff2) format('woff2'),
	 url(../app/fonts/Pretendard-1.3.9/woff/Pretendard-Medium.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url(../app/fonts/Pretendard-1.3.9/woff2/Pretendard-Regular.woff2) format('woff2'),
	 url(../app/fonts/Pretendard-1.3.9/woff/Pretendard-Regular.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'), url(../app/fonts/Pretendard-1.3.9/woff2/Pretendard-Light.woff2) format('woff2'),
	 url(../app/fonts/Pretendard-1.3.9/woff/Pretendard-Light.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: swap;
	src: local('Pretendard ExtraLight'), url(../app/fonts/Pretendard-1.3.9/woff2/Pretendard-ExtraLight.woff2) format('woff2'),
	 url(../app/fonts/Pretendard-1.3.9/woff/Pretendard-ExtraLight.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	font-display: swap;
	src: local('Pretendard Thin'), url(../app/fonts/Pretendard-1.3.9/woff2/Pretendard-Thin.woff2) format('woff2'),
	 url(../app/fonts/Pretendard-1.3.9/woff/Pretendard-Thin.woff) format('woff');
}
@font-face {
  font-family: 'SUITE';
  src: url('../app/fonts/SUITE/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SUITE';
  src: url('../app/fonts/SUITE/SUITE-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SUITE';
  src: url('../app/fonts/SUITE/SUITE-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SUITE';
  src: url('../app/fonts/SUITE/SUITE-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SUITE';
  src: url('../app/fonts/SUITE/SUITE-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SUITE';
  src: url('../app/fonts/SUITE/SUITE-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'SUITE';
  src: url('../app/fonts/SUITE/SUITE-Heavy.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
/* Regular */
@font-face {
  font-family: 'Montserrat';
  src: url('../app/fonts/Monterrat/Montserrat-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: 'Montserrat';
  src: url('../app/fonts/Monterrat/Montserrat-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

/* Thin */
@font-face {
  font-family: 'Montserrat';
  src: url('../app/fonts/Monterrat/Montserrat-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

/* ExtraLight */
@font-face {
  font-family: 'Montserrat';
  src: url('../app/fonts/Monterrat/Montserrat-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../app/fonts/Monterrat/Montserrat-ExtraLightItalic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
}

/* Light */
@font-face {
  font-family: 'Montserrat';
  src: url('../app/fonts/Monterrat/Montserrat-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../app/fonts/Monterrat/Montserrat-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

/* Medium */
@font-face {
  font-family: 'Montserrat';
  src: url('../app/fonts/Monterrat/Montserrat-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../app/fonts/Monterrat/Montserrat-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

/* SemiBold */
@font-face {
  font-family: 'Montserrat';
  src: url('../app/fonts/Monterrat/Montserrat-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../app/fonts/Monterrat/Montserrat-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}

/* Bold */
@font-face {
  font-family: 'Montserrat';
  src: url('../app/fonts/Monterrat/Montserrat-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../app/fonts/Monterrat/Montserrat-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

/* Black */
@font-face {
  font-family: 'Montserrat';
  src: url('../app/fonts/Monterrat/Montserrat-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../app/fonts/Monterrat/Montserrat-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}
