//여긴 header를 수정하는 scss 파일입니다.
@use '../../css/_colors' as *;
@use '../../css/mixins' as *;
@use '../../css/shadow_scss.scss' as *;
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 86px;
  padding:16px;
  background: #fff;
  box-shadow: var(--ShadowCenter-lev2);
  position: fixed;
  left: 0;
  top:0;
  width: 100%;
  z-index: 10;
  h1 {
    margin: 0;
    height: 100%;
    img {
      height: 100%;
      width: auto;
    }
  }

  nav {
    /* 네비게이션 컨테이너 스타일 */
    display: flex;
    gap: 24px;

    a {
      text-decoration: none;
      color: var(--gray-950); // 비활성 색상
      font-weight: 500;
      font-size: 0;
      transition: color 0.3s ease;
      &::before{
        font-size: 18px;
      }
      
      &:hover,
      &:focus-visible {
        /* 마우스 오버 및 키보드 포커스 시 스타일 */
        color: var(--blue-500);
      }
      @include respond($min: sm){
        font-size: 16px;
        &::before{display: none;}
      }
    }
  }
}
